In [41]:
import pandas as pd
from load_readings import get_readings

data = get_readings()
r = []
for member_id in data:
    print(member_id)
    for accounts in data[member_id]:
        for account_count, account_id in enumerate(accounts):
            print(account_count, account_id)
            for reading_count, reading_data in enumerate(data[member_id][account_count][account_id]):
                for reading_type_count, reading_type in enumerate(reading_data):
                    print(reading_type)
                    for reading in (reading_data[reading_type]):
                        reading['account_id'] = account_id
                        reading['member_id'] = member_id
#                         print(reading)
                        r.append(reading)
                        
        
df = pd.DataFrame(r)
df.query('account_id == "account-abc"').query('account_id == "account-abc"')

member-123
0 account-abc
electricity

    cumulative               readingDate unit   account_id   member_id
0        17580  2017-03-28T00:00:00.000Z  kWh  account-abc  member-123
1        17759  2017-04-15T00:00:00.000Z  kWh  account-abc  member-123
2        18002  2017-05-08T00:00:00.000Z  kWh  account-abc  member-123
3        18270  2017-06-18T00:00:00.000Z  kWh  account-abc  member-123
4        18453  2017-07-31T00:00:00.000Z  kWh  account-abc  member-123
5        18620  2017-08-31T00:00:00.000Z  kWh  account-abc  member-123
6        18682  2017-09-10T00:00:00.000Z  kWh  account-abc  member-123
7        18905  2017-10-27T00:00:00.000Z  kWh  account-abc  member-123
8        19150  2017-11-04T00:00:00.000Z  kWh  account-abc  member-123
9        19517  2017-12-31T00:00:00.000Z  kWh  account-abc  member-123
10       19757  2018-01-23T00:00:00.000Z  kWh  account-abc  member-123
11       20090  2018-02-19T00:00:00.000Z  kWh  account-abc  member-123
12       20276  2018-03-14T00:00:00.000Z  kWh  account-abc  member-123
13       20600  2018-04-29T00:00:00.000Z  kWh  account-abc  member-123