investigate data

In [47]:
from load_readings import get_readings
import pandas as pd
from datetime import date
from dateutil import parser

raw_electric_data = get_readings()['member-123'][0]['account-abc'][0]['electricity']
electric_data = [[reading['readingDate'],reading['cumulative']] for reading in raw_electric_data]
electric_df = pd.DataFrame(electric_data, columns=["date", "readings"])
electric_df.set_index("date", drop = False)
electric_df

                        date  readings
0   2017-03-28T00:00:00.000Z     17580
1   2017-04-15T00:00:00.000Z     17759
2   2017-05-08T00:00:00.000Z     18002
3   2017-06-18T00:00:00.000Z     18270
4   2017-07-31T00:00:00.000Z     18453
5   2017-08-31T00:00:00.000Z     18620
6   2017-09-10T00:00:00.000Z     18682
7   2017-10-27T00:00:00.000Z     18905
8   2017-11-04T00:00:00.000Z     19150
9   2017-12-31T00:00:00.000Z     19517
10  2018-01-23T00:00:00.000Z     19757
11  2018-02-19T00:00:00.000Z     20090
12  2018-03-14T00:00:00.000Z     20276
13  2018-04-29T00:00:00.000Z     20600

In [104]:
FROM_PERIOD, TO_PERIOD = 4, 5
# bill_date='2017-08-31'
units_consumed = readings[TO_PERIOD] - readings[FROM_PERIOD]
fromdate, todate = parser.parse(electric_df['date'][FROM_PERIOD]) , parser.parse(electric_df['date'][TO_PERIOD])
assert(units_consumed == 167)
units_consumed

167

In [20]:
from tariff import BULB_TARIFF
rate = BULB_TARIFF['electricity']['unit_rate'] # pence per kWh
standing = BULB_TARIFF['electricity']['standing_charge'] # daily charge / pence
rate, standing

(11.949, 24.56)

In [66]:
energy_cost = units_consumed * rate
energy_cost

1995.483

In [106]:
days_charged = (todate - fromdate).days
standing_cost = days_charged * standing
days_charged, standing_cost

(31, 761.36)

In [116]:
# 2757 p
bill = round(((standing_cost + energy_cost)/100),2)
assert (bill == 27.57)
bill

27.57